# vim: set syntax=yaml:

version: '3.6'

services:

  # note: this is not actually a service, we intend to run it only `docker-compose run`
  nosetests:

    image: "opertusmundi/transform:${VERSION}-testing"
    build:
      context: .
      dockerfile: testing.dockerfile
      args:
        VERSION: "${VERSION}"
    
    entrypoint: ['nosetests']
    command: ['--verbosity=2']
    volumes:
    - type: 'bind'
      source: .
      target: '/work'
    
    working_dir: /work
    user: "1000:1000"
    
    networks:
    - 'opertusmundi_dev_network'  

networks:
  opertusmundi_dev_network: 
    external: true

