# vim: set syntax=yaml:

version: '3.6'

services:

  transform:
    
    image: "local/opertusmundi-transform:${VERSION}"
    build:
      context: .
      args:
        VERSION: "${VERSION}"

    volumes:
    - type: 'bind'
      source: './logs'
      target: '/var/local/transform/logs'
    - type: 'bind'
      source: './data/secret_key'
      target: '/var/local/transform/secret_key'
      read_only: true
    - type: 'bind'
      source: './data/transform.sqlite'
      target: '/var/local/transform/transform.sqlite'
    - type: 'bind'
      source: './output'
      target: '/var/local/transform/output'
       
    networks:
    - 'opertusmundi_dev_network'  

    ports:
    - '5000:5000'

    environment:
      OUTPUT_DIR: '/var/local/transform/output'
      FLASK_ENV: "${FLASK_ENV}"
      FLASK_DEBUG: "${FLASK_DEBUG}"

networks:
  opertusmundi_dev_network: 
    external: true

